* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    padding: 20px 100px;
    background-color: #2f2fa2;
    display: flex;
    justify-content: space-between;
}

.header .headerTitle{
    font-size: 50px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: antiquewhite;
    
}